<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <head>
    <meta charset="UTF-8" />
    <title>Đăng ký tài khoản</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style/home.css" />
  </head>
  <body>
    {% include 'sidebar_menu.html.twig' %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
=======
	<head>
		<meta charset="UTF-8">
		<title>Đăng ký tài khoản</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style/home.css">
		<link rel="stylesheet" href="style/style_home.css">
	</head>
	<body>
		{# Duy #}
		<div class="sidebar">
			<div class="logo">
				<img src="style/image/logo.png" alt="logo shop" class="shop-logo"/>
			</div>
			<ul class="menu">
				<li class="active">
					<a href="#">
						<img src="style/image/trasua.png" alt="milk tea png" class="icon"/>
						<span>Milk tea</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="style/image/fruit.png" alt="fruit tea png" class="icon"/>
						<span>Fruit tea</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="style/image/coffee.png" alt="coffee png" class="icon"/>
						<span>Coffee</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="style/image/ice.png" alt="ice png" class="icon"/>
						<span>Ice-blended</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="style/image/desert.png" alt="desert png" class="icon"/>
						<span>Dessert</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="style/image/topping.png" alt="topping png" class="icon"/>
						<span>Topping</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="style/image/setting.png" alt="setting png" class="icon"/>
						<span>Settings</span>
					</a>
				</li>

				<!-- Logout đặt cuối menu -->
				<li class="logout">
					<a href="#">
						<img src="style/image/logout.png" alt="log out png" class="icon"/>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</div>
	</body>
	<!-- <section class="cover">
	    <div class="cover-overlay">
	      <h1>Vietnamese coffee</h1>
	      <span class="Slogan"
	        >Make every day better <br />
	        But first, coffee !</span
	      >
	    </div>
	  </section> -->
	<main>
		<h2 class="section-heading"></h2>
		<div class="menu--list">
			<div class="menu--item">
				<img src="style/image/trasua_anh.png" alt="">
				<h5>Tra sua</h5>
			</div>
		</div>

	</main>


	{# Duy #}
	<button class="btn btn-outline-primary position-fixed end-0 top-0 m-4 p-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling">
		<i class="bi bi-cart4"></i>
	</button>

	<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button> -->

	<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<p>Try scrolling the rest of the page to see this option in action.</p>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</html></body></html>
>>>>>>> fd5e00e80d2b8584b05e385b44025710eceeb73a
