/* body {
  background-color: #f8f9fa;
  background-image: url("image/Background.jpg");
} */

<<<<<<< HEAD
/* .offcanvas.offcanvas-end {
=======
.offcanvas.offcanvas-end {
>>>>>>> fd5e00e80d2b8584b05e385b44025710eceeb73a
  width: 205px;
}

.offcanvas {
  background-color: #f5f5dc;
<<<<<<< HEAD
} */
=======
}
>>>>>>> fd5e00e80d2b8584b05e385b44025710eceeb73a
