body {
  background-color: #f8f9fa;
  background-image: url("image/Background.jpg");
}

.offcanvas.offcanvas-end {
  width: 205px;
}

.offcanvas {
  background-color: #f5f5dc;
}

.intro-section {
  background-color: #4b3f33 !important;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}
.dark-mode .intro-section {
  background-color: #2e2e2e !important;
  color: #f1f1f1;
}

