body {
  background-image: url(image/Background.jpg);
}

.signup-container {
  max-width: 500px;
  margin: 80px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.custom-reg {
  background-color: #66544d;
  color: white;
  border: none;
}
.custom-reg:hover {
  background-color: #996a5e;
}
